examples/*
runs/*
logs/*
*qnlp-binary-classification*
.ipynb_checkpoints/*
algo2.ipynb
algo-2.ipynb
import_test.ipynb
slurm*
circuit_rp.ipynb
submit_jobs.sh
*.swp
*.sbatch
*.ipynb_checkpoints*
papers/*
